/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  src: local("Montserrat"), url(Montserrat-VariableFont_wght.ttf);
  font-family: "Montserrat";
}

@font-face {
  src: local("Fira Sans Regular"), url(FiraSans-Regular.ttf);
  font-family: "Fira Sans";
  font-weight: 300;
}

@font-face {
  src: local("Fira Sans Light"), url(FiraSans-Light.ttf);
  font-family: "Fira Sans";
  font-weight: 100;
}

@font-face {
  src: local("Fira Sans Medium"), url(FiraSans-Medium.ttf);
  font-family: "Fira Sans";
  font-weight: 400;
}

@font-face {
  src: local("Poppins Medium"), url(Poppins-Medium.ttf);
  font-family: "Poppins";
  font-weight: 400;
}

@font-face {
  src: local("Poppins Regular"), url(Poppins-Regular.ttf);
  font-family: "Poppins";
  font-weight: 300;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 82px;
  padding: 0 4.8vw 0 5.8vw;
}

.logo {
  display: grid;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  display: grid;
  grid-area: 1/2/2/3;
  grid-gap: 28px;
  justify-content: center;
  align-items: center;
}

.menu > button:first-child,
.menu > button:last-child > p {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.menu > button:first-child {
  grid-area: 1/2/2/3;
  width: 92px;
  height: 38px;
  border-radius: 30px;
  border: none;
  color: #fff;
  background-color: #4361ee;
}

.menu > button:last-child {
  grid-area: 1/3/2/4;
  display: grid;
  background-color: #fff;
  border: none;
  align-items: baseline;
}

.menu > button:last-child > p {
  display: grid;
  grid-area: 1/1/2/2;
}

.menu > button:last-child > img {
  display: grid;
  grid-area: 1/2/2/3;
  padding-left: 5px;
}

.social-menu {
  display: flex;
  grid-area: 1/3/2/4;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.social-menu > a {
  padding-right: 11px;
}

/* main */

.main-search {
  height: 688px;
  background-image: url("./images/main-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 58px;
  line-height: 68px;
  color: #fff;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 100px;
}

/* course search form */
.search-form,
.main-catalogue {
  margin: 0 auto;
  background-color: #fff;
}

.search-form {
  height: 64px;
  width: 869px;
  border-radius: 1000px;
}

.main-catalogue {
  width: 329px;
  margin-top: 155px;
  padding-left: 38px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 100px;
  grid-gap: 9px;
  align-items: center;
  box-shadow: 0px 20px 20px 20px rgb(0 0 0 / 3%);
}

.main-catalogue > p {
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 300;
}

/* section with videos */

.video-section {
  padding: 272px 120px;
  display: grid;
  justify-items: center;
  margin: 0 120px;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

/* description block */

h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
}

.video-section > div > p,
.school-description {
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 300;
  margin-top: 40px;
}

/* catalogue section */
.catalogue-section {
  padding: 0 120px;
  padding-bottom: 141px;
  background-color: #fbfbfb;
}

.catalogue-section > div:first-child {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  padding-top: 122px;
  align-items: center;
  height: 106px;
  margin-bottom: 60px;
}

.catalogue-section > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 60px;
}

.catalogue-sorter {
  height: 106px;
  width: 483px;
  background-color: #fff;
  justify-self: self-end;
}

.school-card-catalogue {
  height: 480px;
  width: 368px;
  border-radius: 5px;
  border: 1px solid #ebeff3;
  padding-bottom: 24px;
}

.school-card {
  display: grid;
  align-items: end;
  justify-items: start;
  background-image: url("./images/School-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 192px;
  padding: 24px;
}

.school-rating {
  display: grid;
  grid-template-columns: 7px 1fr 3fr 7px;
  grid-template-rows: 34px;
  width: 85px;
  color: #dc4298;
  background-color: #fff;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  align-items: center;
}

.school-rating > img {
  grid-area: 1/2/2/3;
}

.school-rating > p {
  grid-area: 1/3/2/4;
}

.school-card-content {
  display: block;
  padding: 24px;
}
.age {
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.4px;
  color: #777795;
}

h3,
.price {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.6px;
  color: #2b2b2b;
}

.school-description {
  color: #4d4d4d;
  font-size: 16px;
  margin: 10px 0;
}

.price {
  color: #808080;
  letter-spacing: 0px;
}

.additional-info {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 18;
  font-weight: 500px;
  color: #4361ee;
  text-align: right;
}

.school-card-content > div {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.page-selector {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 441px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  justify-items: center;
}

.page-selector > button {
  width: 52px;
  height: 52px;
  background-color: #fbfbfb;
  border-radius: 10px;
  border: none;
}

.page-selector > button:hover {
  background-color: #4361ee;
  color: #fff;
}

.page-selector > button:first-child {
  justify-self: flex-end;
}
